<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/index.js"></script>

</head>
<body ng-controller="GroceryCtrl as groceryCtrl">

<table class="table table-striped">
	<tr>
		<th>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<form name="queryForm" novalidate ng-submit="GroceryCtrl.search()">
				<div class="form-group">
					<label for="custName">Search By Brand</label>
					<div class="input-group">
					<input id="ProductBrand" class="form-control" type="text" name="ProductBrand" ng-model="groceryCtrl.ProductBrand"
					place holder="Key in Brand name" required>
			
					<span class="input-group-btn">
					<button class="btn btn-success" type="submit" ng-disabled="queryForm.$invalid"> Search</button>
					</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</th>
	<th>
<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<form name="queryForm" novalidate ng-submit="GroceryCtrl.search()">
				<div class="form-group">
					<label for="ProductName">Search By Product Name</label>
					<div class="input-group">
					<input id="ProductName" class="form-control" type="text" name="ProductBrand" ng-model="groceryCtrl.ProductName"
					place holder="Key in Brand name" required>
			
					<span class="input-group-btn">
					<button class="btn btn-success" type="submit" ng-disabled="queryForm.$invalid"> Search</button>
					</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</th>
</tr>
</table>

	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Barcode</th>
			<th>Brand <span class="glyphicon glyphicon-triangle-bottom"></span>
			</th>
			<th>Product Name</th>
			<!-- <th>Edit</th> -->
		</tr>
		<tr ng-repeat="g in groceryCtrl.mydb">
			<td>{{ g.id }}</td>
			<td><img src="http://www.barcodes4.me/barcode/c128a/{{g.upc12}}.png?IsTextDrawn=1" alt="" srcset="" width="100px">   </td>
			<td>{{ g.brand }}</td>
			<td>{{ g.name }}</td>
			<!-- <td> <button>Edit Product</button></td> -->
		</tr>
	</table>
</body>
</html>



				