<div class="row">
	<div class="col-md-12">
		<h2>Search Results for {{ searchCtrl.product.BRAND }}</h2>
	</div>
</div>

<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Barcode</th>
			<th>Brand <span class="glyphicon glyphicon-triangle-bottom"></span>
			</th>
			<th>Product Name</th>
			<!-- <th>Edit</th> -->
		</tr>
		<tr ng-repeat="g in groceryCtrl.mydb">
			<td>{{ g.id }}</td>
			<td><img src="http://www.barcodes4.me/barcode/c128a/{{g.upc12}}.png?IsTextDrawn=1" alt="" srcset="" width="100px">   </td>
			<td>{{ g.brand }}</td>
			<td>{{ g.name }}</td>
			<!-- <td> <button>Edit Product</button></td> -->
		</tr>
	</table>